// Colors
$primary-color: #0a6446;
$black: #000;
$white: #e5dcd2;
$gray: #848484;
$border-color:#d8dbdd;
$primary-font: 'butlerbold';
$secondary-font: 'bebas_neue_regular';
$icon-font: 'FontAwesome';
$text-color: $white;
$text-color-dark: #05091D;
$btn-color: #FF1D5D;
$body-color: #0c5460;
$seegras-1: #0f1817;
$seegras-2: #394a4d;
$seegras-3: #9bacb6;
$seegras-4: #e5dcd2; // white
$seegras-5: #738156;